.git
.gitignore
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
.env
.env.*
!.env.example
tests
docker-compose*
*.md
.editorconfig
.phpunit*
phpunit.xml
deploy.sh
laravel-cloud-deploy.sh
